@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.largeSwatch {
  height: 150px;
  width: 100%;
}

.swatch div {
  height: 75px;
  max-width: 75px;
  flex-grow: 1;
}

.swatch.primary,
.swatch.primary div {
  flex-grow: 2;
  max-width: 150px;
}

.swatch .tooltip {
  display: inline-block;
  opacity: 0;
}

.swatch:hover .tooltip {
  opacity: 100;
}

.swatch .copy-enabled:active + .tooltip {
  transform: scale(0.9);
}

select {
  /* padding-inline-end: var(--sp_4); */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" fill="none" stroke="black"><path d="M7.5 3L4 6 .5 3"/></svg>');
  background-size: 0.7em;
  background-repeat: no-repeat;
  background-position: right 1em center;
}
